extends layout
block content
    nav.navbar.navbar-default.header
        .collapse.navbar-collapse.navbar-ex1-collapse
            ul.nav.navbar-nav.navbar-left.menu
                li
                    a The Event will start 27/10/13 10:00PM IST
                li.msg
                    a Round 
                        span.roundnum  
                        span  of 10
            ul.nav.navbar-nav.navbar-right.menu
                li.active.clickable
                    a Game
                li.clickable
                    a(href="/how",target="_blank") How to play
                li
                    a #{name}
                li#logout.clickable
                    a Logout
    .container
        label#gameover
        .col-md-5.game
            div.precont
                p#generator 00
            .game.card
                script
                    var clicks= !{JSON.stringify(clicked)}
                    var myNum=!{JSON.stringify(number)}
                    var myname = !{JSON.stringify(name)}
                table.table.table-bordered
                    -for(var i=0;i<25;i++){
                       -if(i%5==0){
                        tr(id="row#{i/5+1}")
                       -}
                           td.num(id="cell#{i+1}")
                            b #{number[i]}
                    -}
        .col-md-2#clambuttons.game
            label Claim Here
            button.btn.btn-danger.clams#fh(type='button') Full House
            button.btn.btn-danger.clams#uh(type='button') Upper House
            button.btn.btn-danger.clams#lh(type='button') Lower House
        .col-md-7.instruction
            p#howtoplay
            label#time 
            br
            button.btn.btn-danger#letsplay Lets Play
        .col-md-3
            label Results of Round 
                span.roundnum 
            table.table.table-condensed#result
                tr
                    td Full House
                    td#fhname
                tr
                    td Upper House
                    td#uhname
                tr
                    td Lower House
                    td#lhname
    .container.help
       .chat.col-md-5
            label.allNum All Number Declared uptill Now
            table.allNum.table.table-condensed
                -for(var i=0,k=0;i<5;i++){
                    tr
                    -for(var j=0;j<20;j++,k++){
                        td(id='an#{k}').amo
                    -}
                -}
    .chatbox
        .openchat Maximize chat
        .messages
            .ch Minimize Chat
            .msgs
        .transmission
            input#chatmsg(type="text",placeholder="messages")
