extends layout
block content
    nav.navbar.navbar-default.header
        .collapse.navbar-collapse.navbar-ex1-collapse
            label The Event will start 27/10/13 10:00PM IST
            ul.nav.navbar-nav.navbar-right.menu
                li.active
                    a Game
                li
                    a How to play
                li
                    a Quick play
                li#logout
                    a Logout
    .container
        .col-md-5.game
            div.precont
                p#generator 00
                div Previous Nums 
                    label#pre 0,0
            .game.card
                script
                    var clicks= !{JSON.stringify(clicked)}
                    var myNum=!{JSON.stringify(number)}
                table.table.table-bordered
                    -for(var i=0;i<25;i++){
                       -if(i%5==0){
                        tr(id="row#{i/5+1}")
                       -}
                           td.num(id="cell#{i+1}")
                            b #{number[i]}
                    -}
        .col-md-2#clambuttons.game
            label Claim Here
            button.btn.btn-danger.clams#uh(type='button') Upper House
            button.btn.btn-danger.clams#lh(type='button') lower house
            button.btn.btn-danger.clams#fh(type='button') full house
        .col-md-7.instruction
            p#howtoplay
            label#time 
            button.btn.btn-danger#letsplay Lets Play
        .col-md-3
            label Results
            table.table.table-condensed#result
                tr
                    td Full House
                    td#fhname
                tr
                    td Upper House
                    td#uhname
                tr
                    td Lower House
                    td#lhname
       
    .container.help
        .samplecard
            table.table.table-bordered
                -for(var i=0;i<25;i++){
                -if(i%5==0){
                tr
                -}
                    -if(i<15){
                    td.sel #{i+1}
                    -}
                    -else{
                    td #{i+1}
                -}}
            p upperhouse
        .samplecard
            table.table.table-bordered
                -for(var i=0;i<25;i++){
                -if(i%5==0){
                tr
                -}
                    td.sel #{i+1}
                -}
            p fullhouse
        .samplecard
            table.table.table-bordered
                -for(var i=0;i<25;i++){
                -if(i%5==0){
                tr
                -}
                -if(i>9){
                    td.sel #{i+1}
                -}
                -else{
                    td #{i+1}
                -}}
            p lowerhouse
        .chat.col-md-5
            .prenums Number Declared when you were not online you have 30 sec to click any of these numbers
            p#previousdeclaredNum
            label.allNum All Number Declared uptill Now
            -//p#allNum
            table.allNum.table.table-condensed
                -for(var i=0,k=0;i<5;i++){
                    tr
                    -for(var j=0;j<20;j++,k++){
                        td(id='an#{k}').amo
                    -}
                -}
    .chatbox
        .openchat Maximize chat
        .messages
            .ch Minimize Chat
            .msgs
        .transmission
            input#chatmsg(type="text",placeholder="messages")
